* {
            padding: 0;
            margin: 0;
            font-family: Reddit Sans Condensed;
        }

        @font-face {
            font-family: AdLaM Display;
            src: url("Assets/Fonts/ADLaM_Display/ADLaMDisplay-Regular.ttf");
        }

        @font-face {
            font-family: Reddit Sans Condensed;
            src: url("Assets/Fonts/Reddit_Sans_Condensed/RedditSansCondensed-VariableFont_wght.ttf");
        }
        h1 {
            font-family: AdlaM Display;
        }
        p {
            font-size: 18px;
        }
        .hidden {
            display: none;
        }
        body {
            background-image: url("Assets/UI/background.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }
        /* HEADER */
        .Header {
            position: absolute;
            width: 100%;
            height: 50px;
            z-index: 1;
            
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .Header-Nav-Buttons {
            display: flex;
            cursor: pointer;
            color: #FBE4B4;
        }

        .Header-Nav-Button {
            margin: 0 30px;
            font-size: 22px;
        }

        .Header-Logo {
            width: 70px;
            position: absolute;
            top: 0px;
        }
        /* HOME */
        .Home-Container {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 100vh;
            overflow: hidden;
        }
        .Home-Logo-Container {
            margin: auto;
            width: 530px;
            
        }
        .Home-Logo {
            background: -webkit-linear-gradient(#69259D, #B54A87);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            line-height: 120px;
            font-size: 110px;
            text-align: left;
        }


        .Home-Description {
            font-weight: normal;
            text-align: right;
            width: 460px;
            margin: auto;
            color: #69259D;
            font-size: 30px;
        }

        .Home-Container-Column-1 {
            width: 50%;
            align-self: center;
            text-align: center;
        }

        .Home-Container-Column-2 {
            position: relative;
            width: 50%;
        }

        .Home-Door {
            width: 400px;
        }

        .Home-Art {
            position: absolute;
            left: -150px;
            width: 900px;
        }
        
        /* ABOUT ME */
        #About-Me {
            width: 100%;
        }

        .About-Me-Profile-Background {
            position: absolute;
            z-index: -1;
        }
        .About-Me-Profile {
            height: 100vh;
            display: flex;
            color: #69259D;
            height: 100vh;
        }

        .About-Me-Profile-Column-2 {
            width: 48%;
            margin: auto;
        }

        .About-Me-Skills {
            
            background-repeat: no-repeat;
            background-size:cover;
            width: 100%;
            height: 100vh;
            position: relative;
            align-content: center;

        }

        .Languages {
            background-image: url("Assets/UI/About-Me/LanguagesBackground.png");
        }
        
        
        .About-Me-Languages-Wrapper {
           width: 90%;
           height: 90%;
           margin: auto;
           
           
        }
        .About-Me-Languages-Slot {
            width: 100%;
        }

        .About-Me-Languages-Slots {
            align-content: center;
            margin: auto;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            padding: 0px;
            width: 70%;
            height: 50%;
            gap: 10px;
        }

        .About-Me-Languages-Slots-Wrapper {
            width: inherit;
            height: 70%;
            align-content: center;
            margin: 0px auto;
        }

        /* ROJECTS */

        .Projects-Wrapper {
            min-height: 100vh;
            height: 1200px;
            width: 100%;
            color: #69259D;
            align-content: center;
            position: relative;
        }

        .Grid-Container-Wrapper {
            width: 80%;
            max-width: 1200px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            justify-items: center;
            margin: auto;
            margin-top: 50px;
            row-gap: 30px;
        }

        .Grid-Container {
            width: 100%;
            max-width: 360px;
            height: 366px;
            background-color: lightgrey;
            border-radius: 20px;
            position: relative;
            overflow: hidden;
        }
        .Grid-Container-Description {
            background-color: white;
            width: 100%;
            height: 125px;
            position: absolute;
            bottom: 0;
            color: #69259D;
            text-align: center;
            padding-top: 10px;
        }

        .Grid-Container P {
            font-size: 15px; 
            width: 95%;
            margin: auto;
        }
        .Content-Wrapper {
            align-self: center;
        }

        /*POST-OFFICE*/
        .Post-Office-Information-Container {
            padding-top: 130px;
            color: #69259D;
            width: 100%;
        }

        .Post-Office-Information-Wrapper {
            margin: auto;
            width: 90%;
            display: flex;
            justify-content: space-between;
        }

        .Post-Office-Description {
            width: 70%;
        }
        
        .Post-Office-Art {
            width: 500px;
            height: 500px;
            margin-top: -40px;
            margin-right: 50px;
        }

        .Post-Office-Featured-Container {
            margin-top: 50px;
            width: 100%;
            height: 500px;
            background-image: url("Assets/UI/Post-Office/background.png")
        }

        .Post-Office-Featured-Wrapper {
            height: 100%;
            width: 90%;
            margin: auto;
        }

        .Post-Office-Featured-Art-Container {
            width: 100%;
            height: 310px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 18px;
            justify-content: center;
            
        }

        .Post-Office-Featured-Art-Frame {
            background-color: white;
            min-width: 50px;
            border-radius: 10px;
            min-height: 230px;
            height: 100%;
            box-shadow: #9069AC 0px 10px;
        }

        .Post-Office-Draw-Me-Something {
            height: 100vh;
            width: 100%;
            color: #69259D;
        }

        /* POST OFFICE DRAWING */
        .Post-Office-Canvas {
            display: block;
            margin: 30px auto;
            background-color: white; 
            border-radius: 20px;
            box-shadow: #D59C60 0px 10px;
        }

        .Post-Office-Canvas-Tools-Panel
        {
            width: 700px;
            height: 50px;
            background-color: #69259D;
            margin: auto;
            margin-top: 50px;
            border-radius: 100px;
            display: flex;
            padding: 20px 40px;
            align-items: center;
            color: #FFF2D6;
            justify-content: space-between;
        }

        .Post-Office-Canvas-Tools-Panel p {
            font-size: 20px;
            margin-left: 0px;
        }

        .Post-Office-Canvas-Tool-Button {
            max-width: 40px;
            max-height: 40px;
        }
         
        .Post-Office-Canvas-Tool-Control {
            margin: 0px 10px;
        }

        .Squish-Effect {
            transition: .2s ease-in-out;
        }

        .Squish-Effect:hover {
            scale: 1.2;
            transition: .2s linear;
        }

        .Squish-Effect:active {
            scale: 0.6;
        }

        input[type="color"] {
            border: none;
            padding: 0;
            border: 2px white solid;
            border-radius: 100px;
            width: 40px;
            height: 40px;
        }

        input[type="color"]::-moz-color-swatch {
            border: none;
        }

        input[type="color"]::-webkit-color-swatch-wrapper {
            padding: 0;
            border-radius: 0;
        }

        input[type="color"]::-webkit-color-swatch {
            border: none;
        }

        /*RANGE START*/
        input[type="range"] {
            width: 200px;
            height: 10px;
            -webkit-appearance: none;
            background-color: #4f2074;
            border-radius: 40px;
        }

        input[type="range"]::-webkit-slider-runnable-track {
            -webkit-appearance: none;
            appearance: none;
            color: white;
        }
        

        input[type="range"]::-webkit-slider-thumb {
            border-radius: 100px;
            -webkit-appearance: none;
            appearance: none;
            width: 10px;
            height: 20px; 
            border: 20px;
            background: #FFF2D6;
        }

        input[type="range"]::-moz-range-progress {
            -webkit-appearance: none;
             appearance: none;
            height: 1em;
            color: blue;
           
        }
        input[type="range"]::-moz-range-thumb {
       
        }

        /*RANGE END*/

        button {
            background-color: transparent;
            border: none;
            font-size: 20px;
            color: #FFF2D6;
            align-items: center;
            display: flex;
        }

        button .Post-Office-Canvas-Tool-Button {
            margin-right: 10px;
        }

        
        /* FOOTER */

        .Footer-Container {
            position: relative;
            width: 100%;
            height: 200px;
            background-color: #69259D;
            align-content: center;
        }

        .Footer-Wrapper {
            color: white;
            display: flex;
            justify-content: space-between;
            width: 98%;
            margin: auto;
        }

        .Footer-Column-1 {
            display: flex;
            justify-content: space-between;
        }
        
        .Footer-Column-1-Text {
            display: flex; flex-direction: column; height: 30px;
        }
        .Footer-Column-2 {
            align-self: center;
        }

        .Footer-Directory-Nav-Buttons {
            display: flex;
        }

        .Footer-Directory-Nav-Button {
            margin: 0px 10px;
            font-size: 24px;
        }

        .Footer-Column-2-Directory-Label-Container {
            display: flex;
            margin-bottom: 20px;
        }

        .Footer-Column-2-Directory-Border {
            width: 250px;
            margin: 0px auto;
        }
        
        .Footer-Art {
            width: 100px;
            margin: 0px 10px;
        }

        .Fade-In {
            position: fixed; 
            height: 100%; 
            width: 100%; 
            z-index: 1; 
            left: 0;
            background-color: #69259D;
            animation-name: fade-in;
            animation-duration: 2s;
        }

        .Fade-Out {
            position: fixed; 
            height: 100%; 
            width: 100%; 
            z-index: 1; 
            left: 0;
            background-color: #69259D;
            animation-name: fade-out;
            animation-duration: 2s;
        }

        @keyframes fade-in {
            0% {
                left: -200vh;
            }

            60% {
                left: 0px;
            }

            100% {
                left: 0px;
            }
        }

        @keyframes fade-out {
            0% {
                left: 0px;
            }

            60% {
                left: 200vh;
            }

            100% {
                left: 200vh;
            }
        }