.navigation-bar {
    padding: 20px;
    color: #FBE4B4;
}


.navigation-bar * {
    margin: 20px;
    text-decoration: none;
}

.navigation-bar-light * {
    color: #69259D;
}

.container {
    display: block;
    width: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
   
    
    align-items: center;
}

.logo {
    max-width: 30px;
    margin: 10px;
}

@media only screen and (max-width: 600px) {
    .navigation-bar {
        display: none;
    }


}