
.navigation-bar {
    padding: 20px;
}

.navigation-bar * {
    margin: 20px;
    color: white;
    text-decoration: none;
}

.container {
    display: block;
    width: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
   
    
    align-items: center;
}

.logo {
    max-width: 30px;
}