

.gallery-section h1 {
    margin-top: 10%;
    margin-bottom: 50px;
    color: #69259D;
    text-align: center;
}

.gallery-section {
    min-height: 100vh;
    height: auto;
    align-content: center;
}

.gallery-content-wrapper {
    width: 80%;
    margin: 0px auto 100px;
    display: flex;
    align-content: space-between;
    flex-direction: column;
}

.gallery-list {
    width: fit-content;
    margin: auto;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    
    min-height: 630px;
    
}

.gallery-item {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    background-color: blue;
    overflow: hidden;
    transition: 0.05s linear;
}

.gallery-item:hover {
    scale: 1.1;
    transition: 0.2s ease-in-out;
}

.gallery-item-cover {
    height: 60%;
    width: inherit;
   
}

.art { 
    height: inherit;
}

.gallery-item-description-container {
    height: 40%;
    width: inherit;
    background-color: white;
    padding: 5px 0px;
    color: #69259D;
}


.gallery-item-description-container * {
    text-align: center;
    width: 90%;
    margin: auto;
}
.gallery-item-description-container p {
    font-size: 16px;
    
}

.gallery-item-description-container h1 {
    font-size: 23px;
}

.gallery-list-page-indicator {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 200px;
    height: 80px;
    margin: auto;
    color: #69259D;
    text-align: center;
    font-weight: 600;
    align-content: center;
    
}

.gallery-list-page-indicator * {
    align-content: center;
    align-self: center;
}

.gallery-list-page-indicator :nth-child(2) {
    margin: auto;
}

#gallery-left-arrow {
    float: left;
}

#gallery-right-arrow {
    float: right;
}

.hidden {
    display: none;
}


