* {
  padding: 0;
  margin: 0;
  font-family: Reddit Sans Condensed;
  font-size: 20px;
}

 @font-face {
    font-family: AdLaM Display;
    src: url("/fonts/ADLaM_Display/ADLaMDisplay-Regular.ttf");
  }

@font-face {
    font-family: Reddit Sans Condensed;
    src: url("/fonts/Reddit_Sans_Condensed/RedditSansCondensed-VariableFont_wght.ttf");
  }
        
body {
  width: 100%;
  position: relative;
  background-image: url("/ui/background.png");
  overflow-x: hidden;
}

h1 {
  font-size: 70px;
  font-family: AdLaM Display;
}
h2 {
  font-size: 30px;
}

section {
    height: 100vh;
    position: relative;
    overflow: hidden;
}