.home-container {
    width: 100%;
    margin: auto;
    position: relative;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
   
    
    align-items: center;
}

.home-container :nth-child(1) * {
    text-align: center;
    background-color: red;
}

.home-container :nth-child(2) * {
    text-align: center;
    position: absolute;
    top: 0;
}

.home-background-art {
    z-index: -3;
}