section {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.about-me-profile {
    align-content: center;
    color: #69259D;
}

.about-me-profile .background {
    position: absolute;
    z-index: -3;
    left: 0;
    top: -70;
    width: 100%;
}

.about-me-profile .portrait, .label {
    max-width: 400px;
}



.about-me-profile .label {
    position: absolute;
    top: -100px;
    left: -40;
}

.about-me-profile-wrapper {
    margin: auto;
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.about-me-profile-wrapper > div {
    position: relative;
}


.about-me-profile-greeting {
    display: flex;
    align-items: center;
    
}

.about-me-profile-greeting-label {
    margin-right: 10px;
    margin-bottom: 8px;
}

.about-me-profile .info {
    padding-left: 10%;
}

.ui-decor {
    position: absolute;
}

/*Refactor this*/

.about-me-profile .ui-decor-one {
    position: absolute;
    bottom: 10;
    left: 20;
    max-width: 880px;
    z-index: -1;
}

.about-me-profile .ui-decor-two {
    position: absolute;
    bottom: 10;
    right: 20;
    max-width: 300px;
}

.skills-container {
    align-content: center;
    background-image: url("/ui/About-Me/LanguagesBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.skills-wrapper {
    position: relative;

    height: 80%;
    width: 80%;
    margin: auto;
   
    
    
}


.skills-list-wrapper {
    align-content: center;
    
    height: inherit;
    
}

.skills-list {
    height: 340px;
    width: 65%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-self: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    max-width: 1100px;
    gap: 0px;
}

.skills-list-slot {
     position: relative;
    background-image: url("/ui/About-Me/Slot.png");
    background-size: contain;
    background-origin: content-box;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 150px;
    min-width: 100px;
    aspect-ratio: 1/1;
    align-content: center;
    
}

.skill {
    width: 80%;
    margin: auto;
    display: block;
}

.skill:hover {
    cursor: none;
}
.skills-label {
    padding-left: 0;
}

.skills-list-page-label {
    float: right;
    padding-right: 6%;
    padding-top: 2%;
    color: #FBE4B4;
    display: flex;
    font-weight: bold;

}

.skills-list-page-label * {
    margin: 5px;
}

.skills-list-page-label button {
    margin: 0;
}
.skills-list-page-label button img {
    width: 30px;
    
}

button {
    background-color: transparent;
    border: none;
}