
.navigation-bar * {
    color: #FBE4B4;
}




.about-me-profile {
    align-content: center;
    color: #69259D;
}

.about-me-profile .background-desktop, .background-mobile {
    position: absolute;
    z-index: -3;
    left: 0;
    width: 100%;
}

.about-me-profile .background-desktop {
    top: -70;
}

.background-mobile {
    display: none;
    width: 100%;
    object-fit: fill;
}

.about-me-profile .portrait, .label {
    max-width: 400px;
}



.about-me-profile .label {
    position: absolute;
    top: -100px;
    left: -40;
}


.about-me-profile-wrapper {
    margin: auto;
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}


.about-me-profile-wrapper > div {
    position: relative;
}


.about-me-profile-greeting {
    display: flex;
    align-items: center;
}

.about-me-profile-greeting-label-mobile {
    display: none;
}

.about-me-profile-greeting-label {
    width: 80px;
    margin-right: 10px;
    margin-top: -10px;
    float: left;
    display: block;
}

.about-me-profile .info {
    padding-left: 10%;
}

.ui-decor {
    position: absolute;
}

/*Refactor this*/

.about-me-profile .ui-decor-one {
    position: absolute;
    bottom: 10;
    left: 20;
    max-width: 880px;
    z-index: -1;
}

.about-me-profile .ui-decor-two {
    position: absolute;
    bottom: 10;
    right: 20;
    max-width: 300px;
}

.skills-container {
    align-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.languages-section {
     background-image: url("/ui/About-Me/LanguagesBackground.png");
}

.skills-wrapper {
    position: relative;

    height: 80%;
    width: 80%;
    margin: auto;
    
    
}


.skills-list-wrapper {
    align-content: center;
    
    height: inherit;
    
}

.skills-list {
    height: 340px;
    width: 65%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-self: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    max-width: 1100px;
    gap: 0px;
}

.skills-list-slot {
     position: relative;
   
    background-size: contain;
    background-origin: content-box;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 150px;
    min-width: 100px;
    aspect-ratio: 1/1;
    align-content: center;
}

.skills-slot-dark {
     background-image: url("/ui/About-Me/Slot.png");
}

.skills-tool-label {
    float: right;
}

.skills-slot-light {
     background-image: url("/ui/About-Me/Slot Light.png");
}

.skill {
    width: 80%;
    margin: auto;
    display: block;
}

.skill:hover {
    cursor: none;
}

.skills-list-page-label {
    float: right;
    padding-right: 6%;
    padding-top: 2%;
    color: #FBE4B4;
    display: flex;
    font-weight: bold;

}

.skills-list-page-label * {
    margin: 5px;
}

.skills-list-page-label button {
    margin: 0;
}
.skills-list-page-label button img {
    width: 30px;
    
}

button {
    background-color: transparent;
    border: none;
}

/* Tools and Skill Wrapper Revamp */
.skills-content-wrapper {
    height: 80%;
    width: 80%;
    margin: auto;
    align-self: center;
}

.skills-label-wrapper {
    height: 30%;
}

.skills-list-wrapper2 {
    height: 70%;
}

/*Experience*/

.experience-item-li::marker {
    font-size: 1.5em;
}
.experience-section {
    background-image: url("/ui/About-Me/Experience/experience_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #FBE4B4;
    align-content: center;
}

.experience-content-wrapper {
    height: 90%;
    width: inherit;
    margin: auto;
}

.experience-header-wrapper {
    height: 20%;
    align-content: center;
}

.experience-header {
    width: 800px;
    margin: auto;
    display: block;
    
}


.experience-list {
    width: 85%;
    margin: auto;
}


@media only screen and (max-width: 600px) {
    /* Profile */
    .about-me-profile-wrapper {
        width: 90%;
        height: 70%;
        background-color: red 0.5;
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        justify-content: start;
        align-items: start;
    }

    .about-me-profile .background-desktop {
        display: none;
    }

    .background-mobile {
        display: block;
        top: 0;
    }

    .info {
        width: 90%;
        margin: auto;
    }
    .about-me-profile-greeting-label-mobile {
        display: block;
        margin-bottom: 20px;
    }

    
    .about-me-profile-wrapper * {
        font-size: 15px;
    }
    .portrait, .label {
        width: 60%;
        display: block;
        margin: auto;
        margin-top: 30px;
    }

    .about-me-profile .label {
        position: absolute;
        top: -60px;
        left: 60px;
    }

    .about-me-profile .info {
        padding: 0;
        text-align: justify;
    }

    .about-me-profile-greeting-label {
        display: none;
    }

    .about-me-profile .ui-decor-two {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 150px;
        left: 30%;
        right: 50%;
    }


    .about-me-profile .ui-decor-one {
        width: 118%;
    }

    /* Languages */
    
    .skills-wrapper {
        position: relative;
        height: 90%;
        width: 90%;
        margin: auto;
    }

    .skills-list-wrapper {
        align-content: center;
        height: inherit;
    
    }

    .skills-content-wrapper {
        height: 90%;
        width: 90%;
        margin: auto;

    }

    .skills-list {
        height: 340px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        align-self: center;
        align-items: center;
        align-content: center;
        justify-content: center;
        justify-items: center;
        max-width: 1100px;
        gap: 8px;
    }

    .skills-list-wrapper2 {
        height: 80%;
        
        align-content: center;
    }
    

    .skills-label {
        width: 80%;
        margin: auto;
    }
    .skills-label-wrapper {
        height: 20%;
        display: flex;
        justify-content: center;
    }

}